<div style="border:solid green 2px; padding: 20px"> <h1 style="color:green; margin-bottom:20px">Reviewer's comment v1</h1>

Hello Matthew, my name is Dmitrii. I'm going to review your project! Nice to meet you! üôå

You can find my comments under the heading **¬´Review¬ª**. I will categorize my comments in green, blue or red boxes like this:

<div class="alert alert-success">
    <b>Success:</b> if everything is done successfully
</div>
<div class="alert alert-warning">
    <b>Remarks:</b> if I can give some recommendations or ways to improve the project
   
</div>
<div class="alert alert-danger">
    <b>Needs fixing:</b> if the block requires some corrections. Work can't be accepted with the red comments
</div>

Please don't remove my comments :) If you have any questions don't hesitate to respond to my comments in a different section. 
<div class="alert alert-info"> <b>Student comments:</b> For example like this</div>

<div style="border:solid green 2px; padding: 20px">
<b>Reviewer's comment v1:</b>
    
<b>Overall Feedback</b> 
    
- Overall well done! I can see that a lot of effort has been made! Your project looks very good and you accomplished impressive results.
- However, there are some comments/areas left to fix that will help you to make your project even better:
    - Remove duplicate columns from the data frames that have been used to check hypotheses.
  
And of course, if you have any questions along the way, remember that you can always reach out to your tutor for any clarification.
    
I will wait for you to send me a new version of the project :)

    
</div>

<div style="border:solid green 2px; padding: 20px">
<b>Reviewer's comment v2:</b>
    
<b>Overall Feedback</b> 

Thank you for making improvements.  Your project looks perfect now and there are no critical issues. 
    
Please keep up great work and don't hesitate to use this project as a reference in your future sprints. 
   
Good luck on the next project üçÄ 
</div>

# Yandex.Music

# Contents <a id='back'></a>

* [Introduction](#intro)
* [Stage 1. Data overview](#data_review)
    * [Conclusions](#data_review_conclusions)
* [Stage 2. Data preprocessing](#data_preprocessing)
    * [2.1 Header style](#header_style)
    * [2.2 Missing values](#missing_values)
    * [2.3 Duplicates](#duplicates)
    * [2.4 Conclusions](#data_preprocessing_conclusions)
* [Stage 3. Testing the hypotheses](#hypotheses)
    * [3.1 Hypothesis 1: user activity in the two cities](#activity)
    * [3.2 Hypothesis 2: music preferences on Monday and Friday](#week)
    * [3.3 Hypothesis 3: genre preferences in Springfield and Shelbyville](#genre)
* [Findings](#end)

## Introduction <a id='intro'></a>
Whenever we're doing research, we need to formulate hypotheses that we can then test. Sometimes we accept these hypotheses; other times, we reject them. To make the right decisions, a business must be able to understand whether or not it's making the right assumptions.

In this project, you'll compare the music preferences of the cities of Springfield and Shelbyville. You'll study real Yandex.Music data to test the hypotheses below and compare user behavior for these two cities.

### Goal: 
Test three hypotheses:
1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In Springfield, they prefer pop, while Shelbyville has more rap fans.

### Stages 
Data on user behavior is stored in the file `/datasets/music_project_en.csv`. There is no information about the quality of the data, so you will need to explore it before testing the hypotheses. 

First, you'll evaluate the quality of the data and see whether its issues are significant. Then, during data preprocessing, you will try to account for the most critical problems.
 
Your project will consist of three stages:
 1. Data overview
 2. Data preprocessing
 3. Testing the hypotheses
 
[Back to Contents](#back)

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Great that you added additional information about project tasks. It gives an overview of what you are going to achieve in this project.

## Stage 1. Data overview <a id='data_review'></a>

Open the data on Yandex.Music and explore it.

You'll need `pandas`, so import it.

In [3]:
# importing pandas
import pandas as pd

Read the file `music_project_en.csv` from the `/datasets/` folder and save it in the `df` variable:

In [4]:
# reading the file and storing it to df
df = pd.read_csv('/datasets/music_project_en.csv')
df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  21:51:22  Friday
freq          76    136        136   8850        45360        14   23149

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Well done! Usually, it helps to group all imports (data and library) into two separate cells at the beginning of the project (exactly as you did).

Print the first 10 table rows:

In [5]:
# obtaining the first 10 rows from the df table
df.head(10)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L‚Äôestate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
You can also use here other methods like `.sample(n)` or `.tail(n)` to show sample of data. 
    
You can read about it here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html

Obtaining the general information about the table with one command:

In [6]:
# obtaining general information about the data in df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

The table contains seven columns. They all store the same data type: `object`.

According to the documentation:
- `'userID'` ‚Äî user identifier
- `'Track'` ‚Äî track title
- `'artist'` ‚Äî artist's name
- `'genre'`
- `'City'` ‚Äî user's city
- `'time'` ‚Äî the exact time the track was played
- `'Day'` ‚Äî day of the week

We can see three issues with style in the column names:
1. Some names are uppercase, some are lowercase.
2. There are spaces in some names.
3. `Detect the third issue yourself and describe it here`. All of the column names don't always describe the contents of said column in a clear manner. e.g., 'time' could be renamed as 'time_played' and 'Day' could be called 'day_of_week_played'. It would likely increase the overall length and complexity of column names, but would be more descriptive at a glance and thus easier to work with. 

The number of column values is different. This means the data contains missing values.

### Conclusions <a id='data_review_conclusions'></a> 

Each row in the table stores data on a track that was played. Some columns describe the track itself: its title, artist and genre. The rest convey information about the user: the city they come from, the time they played the track. 

It's clear that the data is sufficient to test the hypotheses. However, there are missing values.

To move forward, we need to preprocess the data.

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Great data overview and correct conclusions.

[Back to Contents](#back)

## Stage 2. Data preprocessing <a id='data_preprocessing'></a>
Correct the formatting in the column headers and deal with the missing values. Then, check whether there are duplicates in the data.

### Header style <a id='header_style'></a>
Print the column header:

In [7]:
# the list of column names in the df table
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Change column names according to the rules of good style:
* If the name has several words, use snake_case
* All characters must be lowercase
* Delete spaces

In [8]:
# renaming columns
df = df.rename(
    columns={
        '  userID': 'user_id',
        'Track': 'track',
        '  City  ': 'city_played_in',
        'time': 'time_played',
        'Day': 'day_played',
    }
)

Check the result. Print the names of the columns once more:

In [9]:
# checking result: the list of column names
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city_played_in', 'time_played',
       'day_played'],
      dtype='object')

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
It is great that you correctly applied rename method.

[Back to Contents](#back)

### Missing values <a id='missing_values'></a>
First, find the number of missing values in the table. To do so, use two `pandas` methods:

In [10]:
# calculating missing values
display(df.isna().sum())

user_id              0
track             1343
artist            7567
genre             1198
city_played_in       0
time_played          0
day_played           0
dtype: int64

<div class="alert alert-success">
<b>Reviewer's comment v1</b>
    
Great that you selected `isna()` method to find missing values! 

It is also sometimes helpful to check not only the total amount of missing values in each column but also look at the percentage of missing values. It helps to understand the overall impact. You can check percentage using, for example, this code:

`df.isnull().sum()/len(df)`

Not all missing values affect the research. For instance, the missing values in `track` and `artist` are not critical. You can simply replace them with clear markers.

But missing values in `'genre'` can affect the comparison of music preferences in Springfield and Shelbyville. In real life, it would be useful to learn the reasons why the data is missing and try to make up for them. But we do not have that opportunity in this project. So you will have to:
* Fill in these missing values with markers
* Evaluate how much the missing values may affect your computations

Replace the missing values in `'track'`, `'artist'`, and `'genre'` with the string `'unknown'`. To do this, create the `columns_to_replace` list, loop over it with `for`, and replace the missing values in each of the columns:

In [11]:
# looping over column names and replacing missing values with 'unknown'
columns_to_replace = ['track', 'artist', 'genre']
for col in columns_to_replace:
    df[col] = df[col].fillna(value='unknown')

<div class="alert alert-warning">
<b>Reviewer's comment v1:</b>
    
Well done! You correctly used¬†`for loop`¬†to fill all missing values; however, it is also possible to check only columns with missing values in the following way: 
    
    for col in columns_to_replace:
        df[col] = df[col].fillna(value='unknown')

<div class='alert alert-info'>I looked at the above lines before sumbitting it the first time and knew it could be simplified but after working a while on the project as a whole, all the code started blending together, so I couldn't pin down how, but I knew the method of indicating the indexes of columns_to_replace in my code was certainly not the most efficient manner. I appreciate the feedback and assistance with the code I wrote, and have replaced it with the suggested change as it is certainly more clean and simple.</div>

<div class="alert alert-success">
<b>Reviewer's comment v2:</b>

Thank you for all your comments and great improvements in the project.

Make sure the table contains no more missing values. Count the missing values again.

In [12]:
# calculating missing values after replacing them with 'unknown'
display(df.isna().sum())

user_id           0
track             0
artist            0
genre             0
city_played_in    0
time_played       0
day_played        0
dtype: int64

[Back to Contents](#back)

### Duplicates <a id='duplicates'></a>
Find the number of obvious duplicates in the table using one command:

In [13]:
# counting clear duplicates
display(df.duplicated().sum())

3826

Call the `pandas` method for getting rid of obvious duplicates:

In [14]:
# removing obvious duplicates and resetting the index
df = df.drop_duplicates().reset_index(drop=True)

Count obvious duplicates once more to make sure you have removed all of them:

In [17]:
# checking for duplicates
display(df.duplicated().sum())

0

Now get rid of implicit duplicates in the `genre` column. For example, the name of a genre can be written in different ways. Such errors will also affect the result.

Print a list of unique genre names, sorted in alphabetical order. To do so:
* Retrieve the intended DataFrame column 
* Apply a sorting method to it
* For the sorted column, call the method that will return all unique column values

In [18]:
# viewing unique genre names
df['genre'].unique()

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', 'unknown', 'alternative', 'children', 'rnb', 'hip',
       'jazz', 'postrock', 'latin', 'classical', 'metal', 'reggae',
       'triphop', 'blues', 'instrumental', 'rusrock', 'dnb', 't√ºrk',
       'post', 'country', 'psychedelic', 'conjazz', 'indie',
       'posthardcore', 'local', 'avantgarde', 'punk', 'videogame',
       'techno', 'house', 'christmas', 'melodic', 'caucasian',
       'reggaeton', 'soundtrack', 'singer', 'ska', 'salsa', 'ambient',
       'film', 'western', 'rap', 'beats', "hard'n'heavy", 'progmetal',
       'minimal', 'tropical', 'contemporary', 'new', 'soul', 'holiday',
       'german', 'jpop', 'spiritual', 'urban', 'gospel', 'nujazz',
       'folkmetal', 'trance', 'miscellaneous', 'anime', 'hardcore',
       'progressive', 'korean', 'numetal', 'vocal', 'estrada', 'tango',
       'loungeelectronic', 'classicmetal', 'dubstep', 'club', 'deep',
       'southern', 'black', 'folkrock', 'fitness', 'french', 'disco',
       'religious', 'hiphop', 'drum', 'extrememetal', 't√ºrk√ße',
       'experimental', 'easy', 'metalcore', 'modern', 'argentinetango',
       'old', 'swing', 'breaks', 'eurofolk', 'stonerrock', 'industrial',
       'funk', 'middle', 'vari√©t√©', 'other', 'adult', 'christian',
       'thrash', 'gothic', 'international', 'muslim', 'relax', 'schlager',
       'caribbean', 'nu', 'breakbeat', 'comedy', 'chill', 'newage',
       'specialty', 'uzbek', 'k-pop', 'balkan', 'chinese', 'meditative',
       'dub', 'power', 'death', 'grime', 'arabesk', 'romance', 'flamenco',
       'leftfield', 'european', 'tech', 'newwave', 'dancehall', 'mpb',
       'piano', 'top', 'bigroom', 'opera', 'celtic', 'tradjazz',
       'acoustic', 'epicmetal', 'hip-hop', 'historisch', 'downbeat',
       'downtempo', 'africa', 'audiobook', 'jewish', 's√§ngerportrait',
       'deutschrock', 'eastern', 'action', 'future', 'electropop',
       'folklore', 'bollywood', 'marschmusik', 'rnr', 'karaoke', 'indian',
       'rancheras', 'afrikaans', 'rhythm', 'sound', 'deutschspr', 'trip',
       'lovers', 'choral', 'dancepop', 'retro', 'smooth', 'mexican',
       'brazilian', '√Ø√Æ√Ø', 'mood', 'surf', 'gangsta', 'inspirational',
       'idm', 'ethnic', 'bluegrass', 'broadway', 'animated', 'americana',
       'karadeniz', 'rockabilly', 'colombian', 'self', 'hop', 'sertanejo',
       'japanese', 'canzone', 'lounge', 'sport', 'ragga', 'traditional',
       'gitarre', 'frankreich', 'emo', 'laiko', 'cantopop', 'glitch',
       'documentary', 'oceania', 'popeurodance', 'dark', 'vi', 'grunge',
       'hardstyle', 'samba', 'garage', 'art', 'folktronica', 'entehno',
       'mediterranean', 'chamber', 'cuban', 'taraftar', 'gypsy',
       'hardtechno', 'shoegazing', 'bossa', 'latino', 'worldbeat',
       'malaysian', 'baile', 'ghazal', 'arabic', 'popelectronic', 'acid',
       'kayokyoku', 'neoklassik', 'tribal', 'tanzorchester', 'native',
       'independent', 'cantautori', 'handsup', 'punjabi', 'synthpop',
       'rave', 'franz√∂sisch', 'quebecois', 'speech', 'soulful', 'jam',
       'ram', 'horror', 'orchestral', 'neue', 'roots', 'slow', 'jungle',
       'indipop', 'ax√©', 'fado', 'showtunes', 'arena', 'irish',
       'mandopop', 'forr√≥', 'dirty', 'regional'], dtype=object)

<div class="alert alert-success">
<b>Reviewer's comment v1</b>
    
Well done! You correctly applied a `.unique()` method. 
    
Additionally, you can also sort them alphabetically using `.sort_values()`
    
`df['genre'].sort_values().unique()`

Look through the list to find implicit duplicates of the genre `hiphop`. These could be names written incorrectly or alternative names of the same genre.

You will see the following implicit duplicates:
* `hip`
* `hop`
* `hip-hop`

To get rid of them, declare the function `replace_wrong_genres()` with two parameters: 
* `wrong_genres=` ‚Äî the list of duplicates
* `correct_genre=` ‚Äî the string with the correct value

The function should correct the names in the `'genre'` column from the `df` table, i.e. replace each value from the `wrong_genres` list with the value in `correct_genre`.

In [26]:
# function for replacing implicit duplicates
def replace_wrong_genres(duplicate, correct_genre):
    df['genre'] = df['genre'].replace(duplicate, correct_genre)
    return(duplicate, correct_genre)

<div class="alert alert-warning">
<b>Reviewer's comment v1</b>
    
Here you can omit the for loop, as function will replace by default all values in the first argument with the second one.

Call `replace_wrong_genres()` and pass it arguments so that it clears implicit duplcates (`hip`, `hop`, and `hip-hop`) and replaces them with `hiphop`:

In [27]:
# removing implicit duplicates
replace_wrong_genres(['hip', 'hop', 'hip-hop'], 'hiphop')

(['hip', 'hop', 'hip-hop'], 'hiphop')

<div class="alert alert-success">
<b>Reviewer's comment v1</b>
    
Your function works perfectly fine.
    
Btw you can also just pass values in your function:
    
    `wrong_genre = ['hip', 'hop', 'hip-hop']
    correct_genre = 'hiphop'`
    
If you want to check the output of the function you can add the following line at the end.
    
    `return(wrong_genres, correct_genre)`

<div class="alert alert-info">I removed the pointless loop I had in the function, double checked the names of the variables to ensure the function still operated properly, and I added in the return line that was suggested. I certainly appreciate the return values as it allows for a glance to make sure there weren't typos in the initial function call and doesn't require me to search through the list of unique values (not that a double check of the full list is a bad thing to do).</div>

<div class="alert alert-success">
<b>Reviewer's comment v2:</b>
    
üôå

Make sure the duplicate names were removed. Print the list of unique values from the `'genre'` column:

In [28]:
# checking for implicit duplicates
df['genre'].unique()

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', 'unknown', 'alternative', 'children', 'rnb',
       'hiphop', 'jazz', 'postrock', 'latin', 'classical', 'metal',
       'reggae', 'triphop', 'blues', 'instrumental', 'rusrock', 'dnb',
       't√ºrk', 'post', 'country', 'psychedelic', 'conjazz', 'indie',
       'posthardcore', 'local', 'avantgarde', 'punk', 'videogame',
       'techno', 'house', 'christmas', 'melodic', 'caucasian',
       'reggaeton', 'soundtrack', 'singer', 'ska', 'salsa', 'ambient',
       'film', 'western', 'rap', 'beats', "hard'n'heavy", 'progmetal',
       'minimal', 'tropical', 'contemporary', 'new', 'soul', 'holiday',
       'german', 'jpop', 'spiritual', 'urban', 'gospel', 'nujazz',
       'folkmetal', 'trance', 'miscellaneous', 'anime', 'hardcore',
       'progressive', 'korean', 'numetal', 'vocal', 'estrada', 'tango',
       'loungeelectronic', 'classicmetal', 'dubstep', 'club', 'deep',
       'southern', 'black', 'folkrock', 'fitness', 'french', 'disco',
       'religious', 'drum', 'extrememetal', 't√ºrk√ße', 'experimental',
       'easy', 'metalcore', 'modern', 'argentinetango', 'old', 'swing',
       'breaks', 'eurofolk', 'stonerrock', 'industrial', 'funk', 'middle',
       'vari√©t√©', 'other', 'adult', 'christian', 'thrash', 'gothic',
       'international', 'muslim', 'relax', 'schlager', 'caribbean', 'nu',
       'breakbeat', 'comedy', 'chill', 'newage', 'specialty', 'uzbek',
       'k-pop', 'balkan', 'chinese', 'meditative', 'dub', 'power',
       'death', 'grime', 'arabesk', 'romance', 'flamenco', 'leftfield',
       'european', 'tech', 'newwave', 'dancehall', 'mpb', 'piano', 'top',
       'bigroom', 'opera', 'celtic', 'tradjazz', 'acoustic', 'epicmetal',
       'historisch', 'downbeat', 'downtempo', 'africa', 'audiobook',
       'jewish', 's√§ngerportrait', 'deutschrock', 'eastern', 'action',
       'future', 'electropop', 'folklore', 'bollywood', 'marschmusik',
       'rnr', 'karaoke', 'indian', 'rancheras', 'afrikaans', 'rhythm',
       'sound', 'deutschspr', 'trip', 'lovers', 'choral', 'dancepop',
       'retro', 'smooth', 'mexican', 'brazilian', '√Ø√Æ√Ø', 'mood', 'surf',
       'gangsta', 'inspirational', 'idm', 'ethnic', 'bluegrass',
       'broadway', 'animated', 'americana', 'karadeniz', 'rockabilly',
       'colombian', 'self', 'sertanejo', 'japanese', 'canzone', 'lounge',
       'sport', 'ragga', 'traditional', 'gitarre', 'frankreich', 'emo',
       'laiko', 'cantopop', 'glitch', 'documentary', 'oceania',
       'popeurodance', 'dark', 'vi', 'grunge', 'hardstyle', 'samba',
       'garage', 'art', 'folktronica', 'entehno', 'mediterranean',
       'chamber', 'cuban', 'taraftar', 'gypsy', 'hardtechno',
       'shoegazing', 'bossa', 'latino', 'worldbeat', 'malaysian', 'baile',
       'ghazal', 'arabic', 'popelectronic', 'acid', 'kayokyoku',
       'neoklassik', 'tribal', 'tanzorchester', 'native', 'independent',
       'cantautori', 'handsup', 'punjabi', 'synthpop', 'rave',
       'franz√∂sisch', 'quebecois', 'speech', 'soulful', 'jam', 'ram',
       'horror', 'orchestral', 'neue', 'roots', 'slow', 'jungle',
       'indipop', 'ax√©', 'fado', 'showtunes', 'arena', 'irish',
       'mandopop', 'forr√≥', 'dirty', 'regional'], dtype=object)

[Back to Contents](#back)

### Conclusions <a id='data_preprocessing_conclusions'></a>
We detected three issues with the data:

- Incorrect header styles
- Missing values
- Obvious and implicit duplicates

The headers have been cleaned up to make processing the table simpler.

All missing values have been replaced with `'unknown'`. But we still have to see whether the missing values in `'genre'` will affect our calculations.

The absence of duplicates will make the results more precise and easier to understand.

Now we can move on to testing hypotheses.

 <div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Great, you correctly identified and fixed missing values and duplicates.

[Back to Contents](#back)

## Stage 3. Testing hypotheses <a id='hypotheses'></a>

### Hypothesis 1: comparing user behavior in two cities <a id='activity'></a>

According to the first hypothesis, users from Springfield and Shelbyville listen to music differently. Test this using the data on three days of the week: Monday, Wednesday, and Friday.

* Divide the users into groups by city.
* Compare how many tracks each group played on Monday, Wednesday, and Friday.

For the sake of practice, perform each computation separately. 

Evaluate user activity in each city. Group the data by city and find the number of songs played in each group.

In [29]:
# Counting up the tracks played in each city
df.groupby('city_played_in')['genre'].count()

city_played_in
Shelbyville    18512
Springfield    42741
Name: genre, dtype: int64

<div class="alert alert-danger">
<b>Reviewer's comment v1:</b>
    
Great that you applied groupby method here, but as you can see you have duplicate columns in the data frame below. 
    
To avoid this, you can select one column you want to keep in the groupby method. 
    
    `.groupby('city')['genre'].count()`

Springfield has more tracks played than Shelbyville. But that does not imply that citizens of Springfield listen to music more often. This city is simply bigger, and there are more users.

Now group the data by day of the week and find the number of tracks played on Monday, Wednesday, and Friday.

In [30]:
# Calculating tracks played on each of the three days
df.groupby('day_played')['genre'].count()

day_played
Friday       21840
Monday       21354
Wednesday    18059
Name: genre, dtype: int64

<div class="alert alert-danger">
<b>Reviewer's comment v1:</b>
    
The same comment as above. We need to keep only one column with data.

<div class="alert alert-info">I cleaned up the above codes to reflect the needed changes, only returning one column of data instead of every column with the same numbers.</div>

<div class="alert alert-success">
<b>Reviewer's comment v2:</b>
    
Thank you for updating that üëè

Wednesday is the quietest day overall. But if we consider the two cities separately, we might come to a different conclusion.

You have seen how grouping by city or day works. Now write a function that will group by both.

Create the `number_tracks()` function to calculate the number of songs played for a given day and city. It will require two parameters:
* day of the week
* name of the city

In the function, use a variable to store the rows from the original table, where:
  * `'day'` column value is equal to the `day` parameter
  * `'city'` column value is equal to the `city` parameter

Apply consecutive filtering with logical indexing.

Then calculate the `'user_id'` column values in the resulting table. Store the result to a new variable. Return this variable from the function.

In [32]:
def number_tracks(day, city):
# <creating the function number_tracks()>
# We'll declare a function with two parameters: day=, city=.
# Let the track_list variable store the df rows where
# the value in the 'day' column is equal to the day= parameter and, at the same time, 
# the value in the 'city' column is equal to the city= parameter (apply consecutive filtering 
# with logical indexing).
# Let the track_list_count variable store the number of 'user_id' column values in track_list
# (found with the count() method).
# Let the function return a number: the value of track_list_count.
    df_temp = (df[(df['day_played'] == day) & (df['city_played_in'] == city)])
    track_list = len(df_temp)
    return track_list
# The function counts tracked played for a certain city and day.
# It first retrieves the rows with the intended day from the table,
# then filters out the rows with the intended city from the result,
# then finds the number of 'user_id' values in the filtered table,
# then returns that number.
# To see what it returns, wrap the function call in print().

<div class="alert alert-warning">
<b>Reviewer's comment v1:</b>
    
Everything is correct here, but only minor remark about how documenting functions.

There is a common convention to use docstings to comments functions in python. It helps to keep code clean and embrace transparency and readability when multiple teams are working on the same complex code.

You can read about this, for example, here: https://www.datacamp.com/community/tutorials/docstrings-python

<div class="alert alert-info">I've looked at the link you sent and done a little more research on docstrings, and have attempted to shift my code to include what was provided to me. I'm unsure if I've done it correctly, and am certain there is at least one variable mentioned in the provided instructions that I don't have ('track_list_count') that I had in my initial code then eliminated when I realized I could simplify it with the len() function rather than using a counter with a loop. I'd like to clean up the above code block, but the initial instructions said to not delete any of the provided lines, and if anything, expand on them. If there's a prefered way of dealing with the mess above, please let me know and I'm more than happy to change what needs changing and learn in the process.</div>

<div class="alert alert-success">
<b>Reviewer's comment v2:</b>
    
For example, you can update the function in the following way: 
    
    def number_tracks(day, city):
    """
    Description of the Function

    We'll declare a function with two parameters: day=, city=.
    Let the track_list variable store the df rows where the value in the 'day' column is equal to the day= parameter and, at the same time, 
    the value in the 'city' column is equal to the city= parameter (apply consecutive filtering 
    with logical indexing).
    Let the track_list_count variable store the number of 'user_id' column values in track_list
    (found with the count() method).
    Let the function return a number: the value of track_list_count.
    """
    
    df_temp = (df[(df['day_played'] == day) & (df['city_played_in'] == city)])
    track_list = len(df_temp)
    return track_list

Later on, you (or your colleague on a real project) can check this documentation by calling:
    
    print(number_tracks.__doc__)

Call `number_tracks()` six times, changing the parameter values, so that you retrieve the data on both cities for each of the three days.

In [33]:
# the number of songs played in Springfield on Monday
number_tracks('Monday', 'Springfield')

15740

In [34]:
# the number of songs played in Shelbyville on Monday
number_tracks('Monday', 'Shelbyville')

5614

In [35]:
# the number of songs played in Springfield on Wednesday
number_tracks('Wednesday', 'Springfield')

11056

In [36]:
# the number of songs played in Shelbyville on Wednesday
number_tracks('Wednesday', 'Shelbyville')

7003

In [37]:
# the number of songs played in Springfield on Friday
number_tracks('Friday', 'Springfield')

15945

In [38]:
# the number of songs played in Shelbyville on Friday
number_tracks('Friday', 'Shelbyville')

5895

Use `pd.DataFrame` to create a table, where
* Column names are: `['city', 'monday', 'wednesday', 'friday']`
* The data is the results you got from `number_tracks()`

In [39]:
# table with results
number_tracks_data = [
    ['Springfield', 15740, 11056, 15945],
    ['Shelbyville', 5614, 7003, 5895],
]

columns_names = ['city', 'monday', 'wednesday', 'friday']

city_day = pd.DataFrame(data= number_tracks_data, columns= columns_names)

display(city_day)

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

**Conclusions**

The data reveals differences in user behavior:

- In Springfield, the number of songs played peaks on Mondays and Fridays, while on Wednesday there is a decrease in activity.
- In Shelbyville, on the contrary, users listen to music more on Wednesday. User activity on Monday and Friday is smaller.

So the first hypothesis seems to be correct.

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
Also everything is correct here!

[Back to Contents](#back)

### Hypothesis 2: music at the beginning and end of the week <a id='week'></a>

According to the second hypothesis, on Monday morning and Friday night, citizens of Springfield listen to genres that differ from ones users from Shelbyville enjoy.

Get tables (make sure that the name of your combined table matches the DataFrame given in the two code blocks below):
* For Springfield ‚Äî `spr_general`
* For Shelbyville ‚Äî `shel_general`

In [47]:
# create the spr_general table from the df rows, 
# where the value in the 'city' column is 'Springfield'
spr_general = df[df['city_played_in'] == 'Springfield']
spr_general = spr_general.reset_index(drop=True)
display(spr_general)

,user_id,track,artist,genre,city_played_in,time_played,day_played
0,55204538,Delayed Because of Accident,Andreas R√∂nnberg,rock,Springfield,14:07:09,Friday
1,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
2,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
3,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
4,8FA1D3BE,L‚Äôestate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
...,...,...,...,...,...,...,...
42736,83A474E7,I Worship Only What You Bleed,The Black Dahlia Murder,extrememetal,Springfield,21:07:12,Monday
42737,729CBB09,My Name,McLean,rnb,Springfield,13:32:28,Wednesday
42738,C5E3A0D5,Jalopiina,unknown,industrial,Springfield,20:09:26,Friday
42739,321D0506,Freight Train,Chas McDevitt,rock,Springfield,21:43:59,Friday
42740,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Springfield,21:59:46,Friday

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
    
You correctly used logical indexing to filter data by city! 

Additionally there are other methods that could be helpful to filter your data, for example:`query()`.

    
`spr_general = df.query('city == "Springfield"')`
    
You can read about them additionally here: 
https://towardsdatascience.com/10-examples-that-will-make-you-use-pandas-query-function-more-often-a8fb3e9361cb
https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79

<div class="alert alert-info">While working on this project, I did some searching and found other methods like query() that I was tempted to utilize. I opted to stick with the materials in the lessons of the first sprint however, as I approached this more like a test of the materials I was taught. Being provided the example, I will likely try to branch out a bit and utilize more methods and functions that are built-in even if they aren't expicitly taught.</div>

<div class="alert alert-success">
<b>Reviewer's comment v2:</b>

üôå I hope that you will be not overwhelmed with multiple libraries/methods/etc, but you will find it useful later in the course.

In [48]:
# create the shel_general from the df rows,
# where the value in the 'city' column is 'Shelbyville'

shel_general = df[df['city_played_in'] == 'Shelbyville']
shel_general = shel_general.reset_index(drop=True)
display(shel_general)

,user_id,track,artist,genre,city_played_in,time_played,day_played
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,20EC38,Funicul√¨ funicul√†,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
2,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
3,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
4,E772D5C0,Pessimist,unknown,dance,Shelbyville,21:20:49,Wednesday
...,...,...,...,...,...,...,...
18507,D94F810B,Theme from the Walking Dead,Proyecto Halloween,film,Shelbyville,21:14:40,Monday
18508,BC8EC5CF,Red Lips: Gta (Rover Rework),Rover,electronic,Shelbyville,21:06:50,Monday
18509,29E04611,Bre Petrunko,Perunika Trio,world,Shelbyville,13:56:00,Monday
18510,1B91C621,(Hello) Cloud Mountain,sleepmakeswaves,postrock,Shelbyville,09:22:13,Monday
18511,D08D4A55,Maybe One Day (feat. Black Spade),Blu & Exile,hiphop,Shelbyville,10:00:00,Monday

Write the `genre_weekday()` function with four parameters:
* A table for data (`df`)
* The day of the week (`day`)
* The first timestamp, in 'hh:mm' format (`time1`)
* The last timestamp, in 'hh:mm' format (`time2`)

The function should return info on the 15 most popular genres on a given day within the period between the two timestamps.

In [63]:
# 1) Let the genre_df variable store the rows that meet several conditions:
#    - the value in the 'day' column is equal to the value of the day= argument
#    - the value in the 'time' column is greater than the value of the time1= argument
#    - the value in the 'time' column is smaller than the value of the time2= argument
#    Use consecutive filtering with logical indexing.

# 2) Group genre_df by the 'genre' column, take one of its columns, 
#    and use the count() method to find the number of entries for each of 
#    the represented genres; store the resulting Series to the
#    genre_df_count variable

# 3) Sort genre_df_count in descending order of frequency and store the result
#    to the genre_df_sorted variable

# 4) Return a Series object with the first 15 genre_df_sorted value - the 15 most
#    popular genres (on a given day, within a certain timeframe)

# Write your function here
def genre_weekday(df, day, time1, time2):
    # consecutive filtering
    # Create the variable genre_df which will store only those df rows where the day is equal to day=
    genre_df = df[df['day_played'] == day] # write your code here

    # filter again so that genre_df will store only those rows where the time is smaller than time2=
    genre_df = genre_df[genre_df['time_played'] < time2] # write your code here

    # filter once more so that genre_df will store only rows where the time is greater than time1=
    genre_df = genre_df[genre_df['time_played'] > time1] # write your code here

    # group the filtered DataFrame by the column with the names of genres, take the genre column, and find the number of rows for each genre with the count() method
    genre_df_count = genre_df.groupby('genre')['track'].count() # write your code here

    # sort the result in descending order (so that the most popular genres come first in the Series object)
    genre_df_sorted = genre_df_count.sort_values(ascending=False) # write your code here

    # we will return the Series object storing the 15 most popular genres on a given day in a given timeframe
    return genre_df_sorted[:15]

Compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7AM to 11AM) and on Friday evening (from 17:00 to 23:00):

In [64]:
# calling the function for Monday morning in Springfield (use spr_general instead of the df table)
display(genre_weekday(spr_general, 'Monday', '07:00', '11:00'))

genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: track, dtype: int64

In [65]:
# calling the function for Monday morning in Shelbyville (use shel_general instead of the df table)
display(genre_weekday(shel_general, 'Monday', '00:70', '11:00'))

genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: track, dtype: int64

In [66]:
# calling the function for Friday evening in Springfield
display(genre_weekday(spr_general, 'Monday', '17:00', '23:00'))

genre
pop            717
dance          524
rock           518
electronic     485
hiphop         238
alternative    182
world          172
classical      172
ruspop         149
rusrap         133
jazz           124
unknown        109
soundtrack      92
folk            89
metal           88
Name: track, dtype: int64

In [67]:
# calling the function for Friday evening in Shelbyville
display(genre_weekday(shel_general, 'Monday', '12:00', '23:00'))

genre
pop            514
rock           415
dance          407
electronic     376
hiphop         197
classical      147
alternative    141
jazz           130
world          127
rusrap         109
ruspop          98
metal           83
unknown         77
soundtrack      70
folk            64
Name: track, dtype: int64

<div class="alert alert-danger">
<b>Reviewer's comment v1:</b>
    
Youre results are correct, but can you please remove duplicate columns from the output above?

<div class="alert alert-info">I've modified the code and made it to display one column of data rather than multiple of the same.</div>

<div class="alert alert-success">
<b>Reviewer's comment v2:</b>

Well done! Now we got only required information.

**Conclusion**

Having compared the top 15 genres on Monday morning, we can draw the following conclusions:

1. Users from Springfield and Shelbyville listen to similar music. The top five genres are the same, only rock and electronic have switched places.

2. In Springfield, the number of missing values turned out to be so big that the value `'unknown'` came in 10th. This means that missing values make up a considerable portion of the data, which may be a basis for questioning the reliability of our conclusions.

For Friday evening, the situation is similar. Individual genres vary somewhat, but on the whole, the top 15 is similar for the two cities.

Thus, the second hypothesis has been partially proven true:
* Users listen to similar music at the beginning and end of the week.
* There is no major difference between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the number of missing values makes this result questionable. In Springfield, there are so many that they affect our top 15. Were we not missing these values, things might look different.

[Back to Contents](#back)

### Hypothesis 3: genre preferences in Springfield and Shelbyville <a id='genre'></a>

Hypothesis: Shelbyville loves rap music. Springfield's citizens are more into pop.

Group the `spr_general` table by genre and find the number of songs played for each genre with the `count()` method. Then sort the result in descending order and store it to `spr_genres`.

In [68]:
# on one line: group the spr_general table by the 'genre' column, 
# count the 'genre' values with count() in the grouping, 
# sort the resulting Series in descending order, and store it to spr_genres

spr_genres = spr_general.groupby('genre')['user_id'].count().sort_values(ascending=False)

Print the first 10 rows from `spr_genres`:

In [69]:
# printing the first 10 rows of spr_genres
spr_genres.head(10)

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: user_id, dtype: int64

Now do the same with the data on Shelbyville.

Group the `shel_general` table by genre and find the number of songs played for each genre. Then sort the result in descending order and store it to the `shel_genres` table:

In [70]:
# on one line: group the shel_general table by the 'genre' column, 
# count the 'genre' values in the grouping with count(), 
# sort the resulting Series in descending order and store it to shel_genres

shel_genres = shel_general.groupby('genre')['user_id'].count().sort_values(ascending=False)

Print the first 10 rows of `shel_genres`:

In [71]:
# printing the first 10 rows from shel_genres
shel_genres.head(10)

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: user_id, dtype: int64

<div class="alert alert-danger">
<b>Reviewer's comment v1:</b>
    
The same comment as above. It is sufficient to show only one column with values. To achieve that you can select, for example, genre column after groupby.

<div class="alert alert-info">I have once again changed the data output to one column. Thank you for your patience in having to point out the same issue that persisted through the entire project. Ideally with the number of times I had to correct it, I will not make the same mistake in the future too often or ideally, at all.</div>

<div class="alert alert-success">
<b>Reviewer's comment v2:</b>

Thank you for updating everything!

**Conclusion**

The hypothesis has been partially proven true:
* Pop music is the most popular genre in Springfield, as expected.
* However, pop music turned out to be equally popular in Springfield and Shelbyville, and rap wasn't in the top 5 for either city.

[Back to Contents](#back)

# Findings <a id='end'></a>

We have tested the following three hypotheses:

1. User activity differs depending on the day of the week and from city to city. 
2. On Monday mornings, Springfield and Shelbyville residents listen to different genres. This is also true for Friday evenings. 
3. Springfield and Shelbyville listeners have different preferences. In both Springfield and Shelbyville, they prefer pop.

After analyzing the data, we concluded:

1. User activity in Springfield and Shelbyville depends on the day of the week, though the cities vary in different ways. 

The first hypothesis is fully accepted.

2. Musical preferences do not vary significantly over the course of the week in both Springfield and Shelbyville. We can see small differences in order on Mondays, but:
* In Springfield and Shelbyville, people listen to pop music most.

So we can't accept this hypothesis. We must also keep in mind that the result could have been different if not for the missing values.

3. It turns out that the musical preferences of users from Springfield and Shelbyville are quite similar.

The third hypothesis is rejected. If there is any difference in preferences, it cannot be seen from this data.

### Note 
In real projects, research involves statistical hypothesis testing, which is more precise and more quantitative. Also note that you cannot always draw conclusions about an entire city based on the data from just one source.

You will study hypothesis testing in the sprint on statistical data analysis.

[Back to Contents](#back)

<div class="alert alert-success">
<b>Reviewer's comment v1:</b>
 
Overall you did a great research. I only left some feedback in the notebook.
    
A small tip regarding overall conclusion in the project: 
    It represents the overall work progress that you achieved. On a real project, this is probably the only thing the business will read. Therefore, it is crucial to indicate in a structured way all conclusions that you made on each step in the project.

For example:

- Replaced missing values in the following data with the following method.
- Replaced data types in the following columns.
- etc.
- We observe that ... factors impact ... 
- My analysis show ...
- I can recommend the following next steps / activities ...

It is also important to provide explanations and interpretations that will be interesting for business based on your analysis.

</div>

<div class="alert alert-info">Thank you for the comments and time you spent reviewing my project. I have made numerous notes to reference in the future of errors I made, their corrections, and the reasons for them as well. I've copied down your final comment verbatum as I greatly appreciate the advice and will endevour to follow it.</div>

<div class="alert alert-success">
<b>Reviewer's comment v2:</b>
    
I am very glad that smth was useful üòá